@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Inventorymanagement.ViewModels.SupplierListItemViewModel>

@{
    ViewBag.Title = "Suppliers";
    Layout = "_Layout";
}

<h2>Suppliers</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Phone)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.ContactName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Supplier</a>